<settings>
    <servers>
        <server>
            <id>sonatype</id>
            <username>${env.ossUserName}</username>
            <password>${env.ossPassword}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.gpgKey}</gpg.keyname>
                <gpg.passphrase>${env.gpgPassword}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
